<div class="main-container">

  <app-header [title]="page_title" [class]="'home'"></app-header>

  <body class="content">
    <div class="margin-20">
      <i class="fas fa-trash fadeIn moderateSpeed" id="trash"></i>
    </div>

    <div class="eliminacion fadeInDown moderateSpeed">
      <div class="margin-20">
        <h4><b>ATENCION. Esta acción no se puede revertir</b></h4>
        <button type="button" id="submit_form_button_padding" class="btn btn-outline-danger" (click)="delete()">
          Borrar cuenta permanentemente.
        </button>
      </div>

      <div class="margin-20">
        <h4>
          <a routerLink="{{ relativePathHome }}" routerLinkActive="router-link-active">
            <div class="margin-20">
              <b>Volver al inicio</b>
            </div>
            <img id="logo_almibar" src={{snake_img}}>
          </a>
        </h4>
      </div>
    </div>
  </body>
</div>
