<div class="main-container fadeInRight moderateSpeed">

  <div class="row m-5">
    <div class="col">
      <h1>Selecciona:</h1>
    </div>
  </div>

  <div class="row m-5">
    <div class="col mainSelectorDiv-ng snake" routerLink = "{{ ngloginR }}"
    matRipple
     [matRippleCentered]="centered"
     [matRippleDisabled]="disabled"
     [matRippleUnbounded]="unbounded"
     [matRippleRadius]="radius"
     [matRippleColor]="color"
     style="overflow: hidden;">

     <span *ngFor="let i of [1,2,3,4]"></span>
     <h3 class="padding-10"> Angular Materials</h3>
     <img src="{{ angularmat_img }}" class="mainSelector">
    </div>

    <div class="col mainSelectorDiv-ng snake" routerLink = "{{ loginR }}"
    matRipple
    [matRippleCentered]="centered"
    [matRippleDisabled]="disabled"
    [matRippleUnbounded]="unbounded"
    [matRippleRadius]="radius"
    [matRippleColor]="color"
     style="overflow: hidden;">
      <span *ngFor="let i of [1,2,3,4]"></span>
      <h3 class="padding-10"> HTML</h3>
      <img src="{{ html_img }}" class="mainSelector">
    </div>
  </div>
  <div class="row">
    <div class="col">

      <button mat-button
        [matMenuTriggerFor]="menu"
        class="btn btn-primary">
          Selección
      </button>
      &nbsp;
      <a mat-button
      [matMenuTriggerFor]="menu">
        Selección
      </a>
      &nbsp;
      <img src="https://cdn-icons-png.flaticon.com/512/1598/1598638.png" id="profile-icon"
      [matMenuTriggerFor]="menu">


      <mat-menu #menu="matMenu">
        <button mat-menu-item
        routerLink = "{{ ngloginR }}">Angular Materials</button>
        <button mat-menu-item
        routerLink = "{{ loginR }}">HTML</button>
      </mat-menu>

    </div>
  </div>

</div>


