

.snake:hover span{
  position: absolute;
  display: block;
  &:nth-child(1){
    top: 0;
    transform: translate(-115%);
    width: 100%;
    height: 6px;
    background: linear-gradient(90deg, transparent, rgb(231, 68, 8));
    animation: animate1 1s linear infinite;
    animation-delay: 0s;
  }
  @keyframes animate1 {
    0%{
      transform: translate(-115%);
    }
    100%{
      transform: translateX(100%);
    }
  }

  &:nth-child(3) {
    bottom: 0;
    transform: translate(100%);
    width: 100%;
    height: 6px;
    background: linear-gradient(270deg, transparent, rgb(231, 68, 8));
    animation: animate3 1s linear infinite;
    animation-delay: 0s;
  }
  @keyframes animate3 {
    0%{
      transform: translate(100%);
    }
    100%{
      transform: translateX(-100%);
    }
  }

  &:nth-child(2) {
    right: 0;
    transform: translateY(-100%);
    width: 6px;
    height: 100%;
    background: linear-gradient(180deg, transparent, rgb(231, 68, 8));
    animation: animate2 1s linear infinite;
    animation-delay: 0.50s;
  }
  @keyframes animate2 {
    0%{
      transform: translateY(-100%);
    }
    100%{
      transform: translateY(100%);
    }
  }
  &:nth-child(4) {
    left: 0;
    transform: translateY(100%);
    width: 6px;
    height: 100%;
    background: linear-gradient(360deg, transparent, rgb(231, 68, 8));
    animation: animate4 1s linear infinite;
    animation-delay: 0.50s;
  }
  @keyframes animate4 {
    0%{
      transform: translateY(100%);
    }
    100%{
      transform: translateY(-100%);
    }
  }
}
