<div>
  <ul class="nav flex-column fadeInLeft moderateSpeed">
    <!-- File manager title -->
    <li class="nav-item title disabled-title">
      <div class="li_container">
        <p class="title">
          <img id="main-cfm-icon" src="{{main_cfm_img}}">
          Cobra Manager
        </p>
      </div>
    </li>

    <!-- Aplicacions label -->
    <li class="nav-item disabled">
      <div class="li_container">
        <p>APLICACIONES</p>
      </div>
    </li>

    <!-- Home button -->
    <li class="nav-item" *ngIf="is_module_allowed('home')"
    routerLink="{{ cfmHomeR }}" routerLinkActive="router-link-active">
      <div class="li_container">
        <p><i class="far fa-folder"></i>HOME</p>
      </div>
    </li>

     <!-- Location button -->
     <li class="nav-item"  *ngIf="is_module_allowed('location')"
     routerLink ="{{ cfmLocationR }}" routerLinkActive="router-link-active">
       <div class="li_container">
         <p><i class="fas fa-user-plus"></i>MI UBICACION</p>
       </div>
     </li>

     <!-- Profile button -->
    <li class="nav-item"  *ngIf="is_module_allowed('perfil')"
    routerLink ="{{ cfmProfileR }}"routerLinkActive="router-link-active">
     <div class="li_container">
       <p><i class="fas fa-user-plus"></i>MI PERFIL</p>
     </div>
    </li>

    <!-- Functions label -->
    <li class="nav-item disabled">
      <div class="li_container">
        <p>FUNCIONES</p>
      </div>
    </li>

    <!-- Create client button -->
    <li class="nav-item" *ngIf="is_module_allowed('cambiar_usuario')"
    (click)="logout()">
      <div class="li_container">
        <p><i class="fas fa-user-plus"></i>CAMBIAR USUARIO</p>
      </div>
    </li>

     <!-- Create client button -->
     <li class="nav-item"  *ngIf="is_module_allowed('registro_usuario')"
     routerLink="{{ cfmRegisterR }}" routerLinkActive="router-link-active">
      <div class="li_container">
        <p><i class="fas fa-user-plus"></i>REGISTRAR USUARIO</p>
      </div>
    </li>

    <!-- Create client button -->
    <li class="nav-item"  *ngIf="is_module_allowed('actualizar_info')"
    routerLink="{{ cfmUpdateR }}"routerLinkActive="router-link-active">
      <div class="li_container">
        <p><i class="fas fa-user-plus"></i>ACTUALIZAR DATOS</p>
      </div>
    </li>

    <!-- Create client button -->
    <li class="nav-item"  *ngIf="is_module_allowed('promover_usuario')"
    routerLink="{{ cfmPromoteR }}" routerLinkActive="router-link-active">
      <div class="li_container">
        <p><i class="fas fa-user-plus"></i>PROMOVER USUARIO</p>
      </div>
    </li>

    <!-- Create client button -->
    <li class="nav-item"  *ngIf="is_module_allowed('delete_user')"
    routerLink="{{ cfmDeleteMyAccR }}" routerLinkActive="router-link-active">
      <div class="li_container">
        <p><i class="fas fa-user-plus"></i>BORRAR MI CUENTA</p>
      </div>
    </li>

    <!-- Create client button -->
    <li class="nav-item"  *ngIf="is_module_allowed('deactivate_user')"
    routerLink="{{ cfmDeactivateUserR }}" routerLinkActive="router-link-active">
      <div class="li_container">
        <p><i class="fas fa-user-plus"></i>DESACTIVAR USUARIO</p>
      </div>
    </li>
  </ul>

</div>
