@use 'sass:map';
@use '../../../../../scss/variables' as vars;

ul {
  background-color: map.get(vars.$colors, "lists", "cfm-background");
  box-shadow: map.get(vars.$colors, "shadows", "cfm-side-menu");
  height: map.get(vars.$box-model, "containers", "side-cfm-menu-height");
  width: map.get(vars.$box-model, "containers", "side-cfm-menu-width");
  position: map.get(vars.$position-and-layout, "side-cfm-menu");
  text-align: map.get(vars.$typography, "text-alignment", "side-cfm-menu");
  font-family: map.get(vars.$typography, "font-family", "side-cfm-menu");
}

li {
  transition: background-color map.get(vars.$animation, "li-cfm-sidemenu-transition");
  padding-left: map.get(vars.$box-model, "cfm-sidemenu", "list-item", "pl");
  height: map.get(vars.$box-model, "cfm-sidemenu", "list-item", "height");
  width: map.get(vars.$box-model, "containers", "side-cfm-menu-width");

  &.title{
    height: map.get(vars.$box-model, "cfm-upperline", "height");
    background-color: map.get(vars.$colors, "lists", "cfm-title-background");
  }
  &:hover{
    background-color: map.get(vars.$colors, "cfm-upperline");
  }
}


.disabled {
  opacity : map.get(vars.$display-and-visibility, "cfm-disabled");
  pointer-events:none !important;
  &-title{
    pointer-events:none !important;
  }
}


p {
  color: map.get(vars.$colors, "text", "cfm-sidemenu-p");
  font-size: map.get(vars.$typography, "font-size", "cfm-sidemenu-p");
  margin-top: map.get(vars.$box-model, "cfm-sidemenu", "p", "mt");
  &.title{
    font-size: map.get(vars.$typography, "font-size", "cfm-sidemenu-title");
  }
}

i{
  color: map.get(vars.$colors, "icons", "cfm-sidemenu");
  margin-right: map.get(vars.$box-model, "icons", "side-cfm-mr");
}

#main-cfm-icon{
  width: map.get(vars.$box-model, "image-sizing", "main-cfm-icon");
  height: map.get(vars.$box-model, "image-sizing", "main-cfm-icon");
}
