@use 'sass:map';
@use '../../../../../scss/variables' as vars;


ul {
  background-color: map.get(vars.$colors, "lists", "cobra_background");
  padding-left: map.get(vars.$box-model, "cobra-sidemenu", "pl");
  box-shadow: map.get(vars.$colors, "shadows", "cobra-side-menu");
}

li {
  transition: map.get(vars.$animation, "li-cobra-sidemenu-transition");
  height: map.get(vars.$box-model, "cobra-sidemenu", "list-item", "height");
  padding-top: map.get(vars.$box-model, "cobra-sidemenu", "list-item", "pt");
  border: map.get(vars.$colors, "lists", "cobra-li-border");
  padding-left: map.get(vars.$box-model, "cobra-sidemenu", "list-item", "pl");

  &:hover {
    background-color: map.get(vars.$colors, "lists", "cobra-li-hover");
  }

}

p {
  font-size: 10px;
  color: map.get(vars.$colors, "text", "cobra-sidemenu-p");

}


#lateral_menu_img {
  width: map.get(vars.$box-model, "image-sizing", "side-cobra-menu-img");
  height: map.get(vars.$box-model, "image-sizing", "side-cobra-menu-img");
}
