<ul class="nav flex-column fadeInLeft moderateSpeed">

  <!-- Home button -->
  <li class="nav-item" *ngIf="is_module_allowed('home')"
  routerLink="{{ homeR }}" routerLinkActive="router-link-active" >
    <img id="lateral_menu_img"
       src="{{home_img}}">
      <p>Home</p>
  </li>

  <!-- Cambiar usuario button  -->
  <li class="nav-item" *ngIf="is_module_allowed('cambiar_usuario')"
  (click)="logout()">
    <img id="lateral_menu_img"
       src="{{cambiar_usuario_img}}">
      <p>Cambiar usuario</p>
  </li>

  <!-- Registrar usuario button -->
  <li class="nav-item" *ngIf="is_module_allowed('registro_usuario')"
  routerLink="{{ registerR }}" routerLinkActive="router-link-active">
    <img id="lateral_menu_img"
      src="{{registrarme_img}}">
      <p>Registrar usuario</p>
  </li>

  <!-- Mi Perfil button -->
  <li class="nav-item" *ngIf="is_module_allowed('perfil')"
  routerLink="{{ profileR }}" routerLinkActive="router-link-active" >
    <img id="lateral_menu_img"
      src="{{mi_perfil_img}}">
      <p>Mi Perfil</p>
  </li>

  <!-- Actualizar datos button -->
  <li class="nav-item" *ngIf="is_module_allowed('actualizar_info')"
  routerLink="{{ updateR }}" routerLinkActive="router-link-active" >
    <img id="lateral_menu_img"
      src="{{actualizar_datos_img}}">
      <p>Actualizar datos</p>
  </li>

  <!-- Promover usuario -->
  <li class="nav-item" *ngIf="is_module_allowed('promover_usuario')"
  routerLink="{{ promoteR }}" routerLinkActive="router-link-active" >
    <img id="lateral_menu_img"
      src="{{promover_usuario_img}}">
      <p>Promover Usuario</p>
  </li>

  <!-- Borrar mi cuenta button -->
  <li class="nav-item" *ngIf="is_module_allowed('delete_user')"
  routerLink="{{ delete_my_accR }}" routerLinkActive="router-link-active" >
    <img id="lateral_menu_img"
      src="{{delete_img}}">
      <p>Borrar mi cuenta</p>
  </li>

  <!-- Borrar mi cuenta button -->
  <li class="nav-item" *ngIf="is_module_allowed('deactivate_user')"
  routerLink="{{ delete_my_accR }}" routerLinkActive="router-link-active" >
    <img id="lateral_menu_img"
      src="{{deactivate_img}}">
      <p>Desactivar usuario</p>
  </li>

  <!-- Location button -->
  <li class="nav-item" *ngIf="is_module_allowed('location')"
  routerLink="{{ locationR }}" routerLinkActive="router-link-active" >
    <img id="lateral_menu_img"
      src="{{location_img}}">
      <p>Mi ubicación</p>
  </li>

</ul>
