<div class="main-container fadeIn moderateSpeed">

  <!-- Header -->
  <app-header [title]="page_title" [class]="'home'"></app-header>

  <body>
    <div class="table-responsive-md fadeInRight moderateSpeed">

      <!-- Form and table def -->
      <form autocomplete="off" [formGroup]="form" (ngSubmit)="update()">
        <table class="table table-hover table_margins">
          <thead>
            <th scope="col">
              <img id="profile-icon" src="{{man_img}}">
              <img id="profile-icon" src="{{woman_img}}">
            </th>
          </thead>
          <thead>
            <tr>
              <th scope="col">Perfil de usuario</th>
              <th scope="col">Valor actual</th>
              <th scope="col">Ingrese valor nuevo</th>
              <th scope="col">
              <button class="btn btn-secondary margin-3" type="button"
              routerLink="{{ relativePathProfile }}" routerLinkActive="router-link-active">
                Mi perfil
              </button>
              <button class="btn btn-primary margin-3" type="submit"
              id="submit_form_button_padding">
                Guardar cambios
              </button>
              </th>
            </tr>
          </thead>
          <tbody *ngIf="user">
            <tr>
              <th scope="row">Nombre de usuario</th>
              <td>{{user.username}}</td>
              <td>
                <input class="form-control" type="text"
                placeholder="Nombre de usuario nuevo" formControlName="username"
                [class.is-invalid]="usernameNotValid">
              </td>
              <td>
                <small class="text-danger" *ngIf="usernameNotValid">Ingrese un nombre valido</small>
              </td>
            </tr>
            <tr>
              <th score="row">Correo electrónico</th>
              <td>{{user.email}}</td>
              <td>
                <input class="form-control" type="email"
                placeholder="Email nuevo" formControlName="email"
                [class.is-invalid]="emailNotValid">
              </td>
              <td>
                <small class="text-danger" *ngIf="emailNotValid">Ingrese un correo electrónico valido</small>
              </td>
            </tr>
            <tr>
              <th score="row">Contraseña</th>
              <td>********</td>
              <td>
                <input class="form-control" type="password"
                placeholder="Contraseña nueva" formControlName="password"
                [class.is-invalid]="passwordNotValid">
              </td>
              <td>
                <small class="text-danger" *ngIf="passwordNotValid">Ingrese una contraseña valida</small>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</div>
