<div class="main-container">

  <app-header [title]="page_title" [class]="'home'"></app-header>

  <body class="content">
    <div class="margin-20">
      <i class="fas fa-user-shield fadeIn moderateSpeed" id="admin"></i>
    </div>

    <div class="fadeInDown moderateSpeed">
      <div class="margin-20">
        <form autocomplete="off" [formGroup]="form" (ngSubmit)="promote()">
          <small class="text-danger" *ngIf="idNotValid">Ingrese un ID válido</small>
          <input class="form-control" type="text" placeholder="ID de Usuario"
          formControlName="id" [class.is-invalid]="idNotValid">

        <button type="submit" class="btn btn-outline-primary btn-block margin-20"
        id="submit_form_button_padding">
          Promover usuario a administrador
        </button>
        </form>
      </div>
    </div>
  </body>
</div>
