
<!-- Navbar -->
<div class="fadeInNavbar moderateSpeed border-top burgundy border-5 shadowish">
  <nav class="navbar navbar-toggleable-md navbar-expand-lg navbar-light">
    <a class="navbar-brand margin" routerLink="{{ homeR }}" routerLinkActive="active">
      <!-- Icons -->
      <img id="cobra_icon" src="{{cobra_icon_img}}">
      <img id="cobra_letters" src="{{cobra_letters_img}}">
    </a>

    <a class="navbar-brand" (click)="close_sesion()" *ngIf="logged_in">
      <img id="logout" src="{{logout_img}}">
    </a>

    <a class="navbar-brand"
    routerLink="{{ cfmHomeR }}" routerLinkActive="router-link-active" >
      <!-- Cobra File Manager -->
      <img id="folder_img" src="{{folder_img}}">
    </a>

  </nav>
</div>
