<div class="main-container fadeIn moderateSpeed">
  <!-- Header -->
  <header>
      <div class="home">
        <img id="logo_almibar" src="{{logo_img}}">
        <h1 class="almibar-title">almibar</h1>
      </div>
  </header>

  <!-- Body -->
  <body class="padding-50">
    <img id="productos_medallon" src={{prod_medallon_img}}>
  </body>
</div>
