<div class="main-container fadeIn moderateSpeed">

  <!-- Header -->
  <app-header [title]="page_title" [class]="'home'"></app-header>

  <!-- Body -->
  <body>

    <div class="table-responsive-md fadeInRight moderateSpeed">

      <!-- Table definition -->
      <table class="table table-hover">
        <thead>
          <th scope="col">
            <img id="profile-icon" src="{{man_img}}">
            <img id="profile-icon" src="{{woman_img}}">
          </th>
        </thead>
        <thead>
          <tr>
            <th scope="col">Perfil de usuario</th>
            <th scope="col">
              <button class="btn btn-primary" id="submit_form_button_padding"
              routerLink="{{ relativePathUpdate }}" routerLinkActive="router-link-active" >
                Modificar
              </button>
            </th>
          </tr>
        </thead>
        <tbody *ngIf="user">
          <tr>
            <th scope="row">ID de usuario</th>
            <td>{{user._id}}</td>
          </tr>
          <tr>
            <th scope="row">Nombre de usuario</th>
            <td>{{user.username}}</td>
          </tr>
          <tr>
            <th score="row">Correo electrónico</th>
            <td>{{user.email}}</td>
          </tr>
          <tr>
            <th score="row">Rol</th>
            <td>{{user.role}}</td>
          </tr>
          <tr>
            <th score="row">¿Eliminado?</th>
            <td>{{user.deleted}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</div>
