<div class="main-container">
  <app-header [title]="page_title" [class]="'module'"></app-header>
  <i class="fas fa-map-marker-alt text-danger fa-2x"></i>
  <body>

    <label> Ingrese una ubicación </label>
    <input type="text" class="form-control mb-4 container"
        placeholder="Buscar la ubicación más cercana"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="off"
        #search>

    <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
      <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"></agm-marker>
    </agm-map>

  <div>Latitud: {{latitude}}</div>
  <div>Longitud: {{longitude}}</div>
  </body>

</div>
