<div class="row">
  <div class="col">
    <app-navbar></app-navbar>
  </div>
</div>
<div class="row">
  <div class="side-cfm-menu-width padding-0" style="background-color: rgb(59, 58, 58);">
    <app-side-cfm-menu></app-side-cfm-menu>
  </div>

  <div class="col padding-0">
    <div id="back"></div>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
