
@import "../node_modules/bootstrap/scss/bootstrap";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
@import "~noty/src/themes/sunset.scss";
@import "~noty/src/themes/relax.scss";
@import "./scss/animations.scss";
@import "./scss/scrollbar.scss";
@import "./scss/headers_footers.scss";
@import "./scss/brand_related.scss";
@import "./scss/icons.scss";
@import "./scss/containers.scss";
@import "./scss/maps.scss";
@import "./scss/cfm.scss";
@import "./scss/images.scss";
@import "./scss/navbar.scss";


@font-face {
  font-family: FuturaHeavy;
  src: url('./assets/fonts/Futura\ Heavy\ font.ttf');
}

@font-face {
  font-family: FuturaLight;
  src: url('./assets/fonts/Futura\ Book\ font.ttf');
}


// ---------- labels ---------- //

label{
  color: rgb(0, 68, 141)
}

// ---------- buttons ---------- //

#submit_form_button_padding{
  padding-top:  5px;
  padding-bottom: 5px;
}

// -------------------------------

$selector_list : margin padding;
@for $iterador from 0 through 100{
    @each $selector in $selector_list{
        .#{$selector}-#{$iterador}{
            #{$selector} : $iterador * 1px;
        }
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
