@use 'sass:map';

@mixin headers{
  overflow : map.get($clipping, "headers");
  position : map.get($position-and-layout, "header-position");
  text-align: map.get($typography, "text-alignment", "headers");
  font-family: map.get($typography, "font-family", "headers");
}

@mixin secondary-headers {
  padding-top : map.get($box-model, "headers", "secondary-y-distancing");
  margin-bottom: map.get($box-model, "headers", "secondary-y-distancing");
}

@mixin footers{
  overflow : map.get($clipping, "footers");
  position : map.get($position-and-layout, "footer-position");
  bottom : map.get($position-and-layout, "footer-bottom");
  width : map.get($box-model, "footers", "width");
  height : map.get($box-model, "footers", "height");
  background-size: map.get($background, "footer", "b-size");
  background-image: map.get($background, "footer", "image");

}

// Variables
$cobra_coloring_style : rgba(255, 89, 0, 0.425);
$cobra_slogan_style : saturate(adjust-hue($cobra_coloring_style, -20deg), 10%);

$cfm_coloring_style : rgba(12, 162, 242, 0.425);

$colors : (
  "text" : (
    "body" : black,
    "almibar-title" : #16139e,
    "slogan" : $cobra_slogan_style,
    "header-main-txt" : white,
    "header-main-txt-background" : 2px 2px 2px black,
    "cfm-sidemenu-p" : white,
    "cobra-sidemenu-p" : #4d4d4d
  ),
  "shadows" : (
    "main-container" : inset -1px 10px 8px -5px rgba(160, 160, 160, 0.5),
    "header-main" : inset 0 0 0 1000px $cobra_coloring_style,
    "footer-main" : inset 0 0 0 1000px $cobra_coloring_style,
    "footer-login-filter" : drop-shadow(5px 5px 10px $cobra_coloring_style),
    "footer-modules" : inset 0 0 0 2000px $cfm_coloring_style,
    "footer-modules-filter" : drop-shadow(12px 12px 25px $cfm_coloring_style),
    "cfm-side-menu" : inset 0px 5px 5px 0px rgba(160, 160, 160, 0.5),
    "cfm-upperline" : inset 1px 2px 15px 2px rgba(90, 90, 90, 0.5),
    "cobra-side-menu" : inset 0px 5px 5px 0px rgba(160, 160, 160, 0.5)
  ),
  "icons" : (
    "input" : green,
    "admin" : green,
    "trash" : #800f00,
    "cfm-sidemenu" : white
  ),
  "scrollbar" : (
    "track-corner" : #d5d5d5,
    "thumb" : #8f8f8f,
    "thumb-hover" : #747474
  ),
  "lists" : (
    "cfm-background" : rgb(59, 58, 58),
    "cfm-title-background" : rgb(0,0,0),
    "cobra-background" : white,
    "cobra-li-border" : 1px solid rgba(224, 224, 224, 0.5),
    "cobra-li-hover" : rgba(199, 199, 199, 0.5),
  ),
  "cfm-upperline" : $cfm_coloring_style,
  "navbar-upperline" : #910d16,
  "miniatures" : (
    "main-selector-hover" : rgb(224, 224, 224),
  )
);

$animation : (
  "animation-duration" : 0.8s,
  "li-cfm-sidemenu-transition" : 0.5s,
  "li-cobra-sidemenu-transition" : 0.5s,
  "main-selector-transition" : 0.5s
);

$secondary-header-y-distancing : 40px;
$cfm-upperline-height : 70px;

$box-model : (
  "image-sizing" : (
    "logo_almibar" : 65px,
    "productos_medallon" : 80%,
    "profile-icon" : 40px,
    "main-cfm-icon" : 35px,
    "cobra-icon" : 40px,
    "cobra-letters-width" : 160px,
    "cobra-letters-height" : 30px,
    "folder-img" : 35px,
    "logout-img" : 25px,
    "side-cobra-menu-img" : 40px,
    "medium" : 200px
  ),
  "containers" : (
    "main-container-height" : fixed,
    "main-container-width" : fixed,
    "side-cobra-menu-width" : 110px,
    "side-cfm-menu-width" : 250px,
    "side-cfm-menu-height" : 856px,
    "body-width": 400px,
    "body-height": auto,
    "body-margin": auto,
    "agm-map-height" : 400px,
    "main-selector-height": 280px
  ),
  "headers" : (
    "secondary-y-distancing" : $secondary-header-y-distancing,
    "home" : (
      "height" : 180px,
    ),
    "module" : (
      "height" : 80px,
    ),
    "main" : (
      "width" : auto,
      "height" : 80px,
      "padding" : 15px,
      "border-radius" : 0% 0% 100% 100%/90%
    )
  ),
  "footers" : (
    "width" : 110%,
    "height": 5%
  ),
  "icons" : (
    "input-pt" : 8px,
    "side-cfm-mr" : 15px
  ),
  "scrollbar" : (
    "size" : 10px
  ),
  "cfm-upperline" : (
    "margin-top" : 0px,
    "width" : 100%,
    "height" : $cfm-upperline-height
  ),
  "cfm-sidemenu" : (
    "list-item" : (
      "pl" : 25px,
      "height" : 60px
    ),
    "p" : (
      "mt" : 16px
    )
  ),
  "cobra-sidemenu" : (
    "pl" : 10px,
    "list-item" : (
      "pl" : 0px,
      "pt" : 8px,
      "height" : 65px
    )
  ),
  "navbar" : (
    "ml" : 20px,
    "icons-border" : 0
  ),
  "buttons" : (
    "volver" : 30px
  )
);

$main-background : url("../../src/assets/img/body_background.png");
$node-background : url("../assets/img/nodes.gif");
$navbar-background : url('../assets/img/navbar_background.png');

$background : (
  "main-container" : (
    "image" : $main-background
  ),

  "body" : (
    "image" : $main-background
  ),
  "header" : (
    "main" : (
      "image" : $node-background,
      "b-size" : 30%
    )
  ),
  "footer" : (
    "image" : $node-background,
    "b-size" : 25%
  ),
  "navbar" : (
    "image" : $navbar-background
  )
);

$typography : (
  "font-family" : (
    "slogan" : "FuturaLight",
    "almibar-title" : "FuturaHeavy",
    "headers" : "FuturaHeavy",
    "side-cfm-menu" : "FuturaLight"
  ),
  "font-size" : (
    "almibar-title" : 75px,
    "header-main" : 30px,
    "cfm-sidemenu-p" : 15px,
    "cfm-sidemenu-title" : 22px,
    "icons" : (
      "big" : 80px,
      "small": 20px
    )
  ),
  "text-alignment" : (
    "body" : center,
    "headers" : center,
    "side-cfm-menu" : left
  ),
);

$position-and-layout : (
  "header-position" : center,
  "footer-position" : fixed,
  "footer-bottom": 0px,
  "side-cfm-menu" : absolute,
  "navbar" : relative,
  "navbar-folder" : (
    "position" : fixed,
    "top" : 15px,
    "right" : 15px
  ),
  "navbar-logout" : (
    "position" : fixed,
    "top" : 22px,
    "right" : 80px
  ),
  "volver-button" : left
);

$display-and-visibility : (
  "cfm-disabled" : 0.6
);

$clipping : (
  "body-overflow-x" : hidden,
  "main-container-overflow-y" : scroll,
  "headers" : hidden,
  "footers" : hidden
);


$nested-rules : (

);

