@use 'sass:map';
@use 'variables' as vars;
// ----------------------------------//
/*           Animations              */

.moderateSpeed{
  -webkit-animation-duration: map.get(vars.$animation, "animation-duration");
  animation-duration: map.get(vars.$animation, "animation-duration");
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

$lista-animaciones :
    "fadeInRight" translateX 40px 0 fadeIn,
    "fadeInDown" translateY -40px 0 fadeIn,
    "fadeInLeft" translateX -40px 0 fadeIn,
    "fadeInNavbar" translateX -20px 0 fadeIn,
    "fadeOutDownNoty" translateY 0 40px fadeOut,
    "fadeInRightNoty" translateX 40px 0 fadeIn;

$fadeFrom:0;
$fadeTo:0;

@each $name, $transform, $disp-from, $disp-to, $fadeDirection in $lista-animaciones{

  @if($fadeDirection == fadeIn){
    $fadeFrom:0;
    $fadeTo:1;
  }
  @if($fadeDirection == fadeOut){
    $fadeFrom:1;
    $fadeTo:0;
  }

  @keyframes #{$name}{
      from{
          opacity : $fadeFrom;
          transform : #{$transform}($disp-from);
      }

      to{
          opacity: $fadeTo;
          transform: #{$transform}($disp-to);
      }
  }

  .#{$name}{
      animation-name : #{$name}
  }
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.fadeIn{
  animation-name: fadeIn;
}
