@use 'sass:map';
@use "variables" as vars;


#slogan {
  font-family: map.get(vars.$typography,"fonts","slogan");
  color: map.get(vars.$colors, "text", "slogan");
}

#logo_almibar {
  width: map.get(vars.$box-model, "image-sizing", "logo_almibar");
  height: map.get(vars.$box-model, "image-sizing", "logo_almibar");
}

.almibar-title {
  font-family: map.get(vars.$typography, "font-family", "almibar-title");
  font-size: map.get(vars.$typography, "font-size", "almibar-title");
  color: map.get(vars.$colors, "text", "almibar-title");
}

#productos_medallon {
  width: map.get(vars.$box-model, "image-sizing", "productos_medallon");
  height: map.get(vars.$box-model, "image-sizing", "productos_medallon");
}

