@use 'sass:map';
@use 'variables' as vars;

#back{
  background-color: map.get(vars.$colors, "cfm-upperline");
  box-shadow: map.get(vars.$colors, "shadows", "cfm-upperline");
  margin-top: map.get(vars.$box-model, "cfm-upperline", "margin-top");
  width: map.get(vars.$box-model, "cfm-upperline", "width");
  height: map.get(vars.$box-model, "cfm-upperline", "height");
}
