@use 'sass:map';
@use 'variables' as vars;

div .main-container {
  height: map.get(vars.$box-model, "containers", "main-container-height");
  width: map.get(vars.$box-model, "containers","main-container-width");
  background-image: map.get(vars.$background, "main-container", "image");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  box-shadow: map.get(vars.$colors, "shadows", "main-container");
  overflow-y: map.get(vars.$clipping, "main-container-overflow-y");
}

body {
  overflow-x: map.get(vars.$clipping, "body-overflow-x");

  background-image: map.get(vars.$background, "body", "image");
  color: map.get(vars.$colors, "text", "body");
  text-align: map.get(vars.$typography, "text-alignment", "body");
}

body .content {
  width: map.get(vars.$box-model, "containers", "body-width");
  height: map.get(vars.$box-model, "containers", "body-height");
  margin: map.get(vars.$box-model, "containers", "body-margin");
}

.side-menu-width {
  width: map.get(vars.$box-model, "containers", "side-cobra-menu-width");
}

.side-cfm-menu-width {
  width: map.get(vars.$box-model, "containers", "side-cfm-menu-width");
}

.mainSelectorDiv-ng{
  height: map.get(vars.$box-model, "containers", "main-selector-height");
  &:hover{
    background-color: map.get(vars.$colors, "miniatures", "main-selector-hover");
  }
}


/*# sourceMappingURL=index.css.map */
