@use 'sass:map';
@use 'variables' as vars;



header{
  .home {
    @include vars.headers;
    @include vars.secondary-headers;
    height: map.get(vars.$clipping, "headers", "home", "height");
  }
  .module {
    @include vars.headers;
    @include vars.secondary-headers;
    height: map.get(vars.$box-model, "headers", "module", "height");
  }
  .main {
    @include vars.headers;
    width: map.get(vars.$box-model, "headers", "main", "width");
    height:  map.get(vars.$box-model, "headers", "main", "height");
    padding:  map.get(vars.$box-model, "headers", "main", "padding");
    border-radius:  map.get(vars.$box-model, "headers", "main", "border-radius");
    background-size: map.get(vars.$background, "header", "main", "b-size");
    background-image: map.get(vars.$background, "header", "main", "image");
    box-shadow: map.get(vars.$colors, "shadows", "header-main");
    font-size: map.get(vars.$typography, "font-size", "header-main");
    color: map.get(vars.$colors, "text", "header-main-txt");
    text-shadow: map.get(vars.$colors, "text", "header-main-txt-background");
  }
}

footer {
  .login {
    @include vars.footers;
    box-shadow: map.get(vars.$colors, "shadows", "footer-main");
    filter: map.get(vars.$colors, "shadows", "footer-login-filter");
  }

  .modules {
    @include vars.footers;
    box-shadow: map.get(vars.$colors, "shadows", "footer-modules");
    filter: map.get(vars.$colors, "shadows", "footer-modules-filter");
  }
}
