@use 'sass:map';
@use 'variables' as vars;

.input-icon {
  font-size: map.get(vars.$typography, "font-size", "icons", "small");
  color: map.get(vars.$colors, "icons", "input");
  padding-top: map.get(vars.$box-model, "icons", "input-pt");
}

#admin {
  color: map.get(vars.$colors, "icons", "admin");
  font-size: map.get(vars.$typography, "font-size", "icons", "big");
}

#trash {
  color: map.get(vars.$colors, "icons", "trash");
  font-size: map.get(vars.$typography, "font-size", "icons", "big");
}



#profile-icon {
  width: map.get(vars.$box-model, "image-sizing", "profile-icon");
  height: map.get(vars.$box-model, "image-sizing", "profile-icon");
  border-radius: 50%;
  background-color: rgb(158, 158, 158);
  
  @for $iteador from 1 through 255{
    @media (min-width: ($iteador * 10 * 1px)) and (max-width : (($iteador + 40) * 10 * 1px)){

      border-radius: 50%;
      background-color: rgb($iteador, (255 - $iteador), $iteador);
    }
  }

}
  
//  @media (min-width : 1001px) and (max-width: 1300px){
//
//    border-radius: 100%;
//    background-color: red;
//  }
//  @media (min-width : 1301px) and (max-width: 1600px){
//
//    border-radius: 100%;
//    background-color: blue;
//  }
//  @media (min-width : 1600px) and (max-width: 2400px)//{

//    border-radius: 100%;
//    background-color: green;
//  }
//}


