@use 'sass:map';
@use './variables' as vars;

@media only screen and (max-width : 600px) {
  
}

nav {
  position: map.get(vars.$position-and-layout, "navbar");
  background-image: map.get(vars.$background, "navbar", "image");
}

.matnav{
  position: map.get(vars.$position-and-layout, "navbar");
  background-image: map.get(vars.$background, "navbar", "image");
  padding: 0 !important;
  height: 70px;
}

.burgundy {
  border-color: map.get(vars.$colors, "navbar-upperline") !important;
}

#cobra_icon {
  width: map.get(vars.$box-model, "image-sizing", "cobra-icon");
  height: map.get(vars.$box-model, "image-sizing", "cobra-icon");
}

#cobra_letters {
  width: map.get(vars.$box-model, "image-sizing", "cobra-letters-width");
  height: map.get(vars.$box-model, "image-sizing", "cobra-letters-height");
}

.margin {
  margin-left: map.get(vars.$box-model, "navbar", "ml");
}


#folder_img {
  position: map.get(vars.$position-and-layout, "navbar-folder", "position");
  top: map.get(vars.$position-and-layout, "navbar-folder", "top");
  right: map.get(vars.$position-and-layout, "navbar-folder", "right");
  border: map.get(vars.$box-model, "navbar", "icons-border");
  height: map.get(vars.$box-model, "image-sizing", "folder-img");
  width: map.get(vars.$box-model, "image-sizing", "folder-img");
}

#logout {
  position: map.get(vars.$position-and-layout, "navbar-logout", "position");
  top: map.get(vars.$position-and-layout, "navbar-logout", "top");
  right: map.get(vars.$position-and-layout, "navbar-logout", "right");
  border: map.get(vars.$box-model, "navbar", "icons-border");
  height: map.get(vars.$box-model, "image-sizing", "logout-img");
  width: map.get(vars.$box-model, "image-sizing", "logout-img");
}
