@use 'sass:map';
@use 'variables' as vars;

::-webkit-scrollbar {
  width: map.get(vars.$box-model, "scrollbar", "size");
  height: map.get(vars.$box-model, "scrollbar", "size");
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background: map.get(vars.$colors, "scrollbar", "track-corner");
}

::-webkit-scrollbar-thumb {
  background: map.get(vars.$colors, "scrollbar", "thumb");
}

::-webkit-scrollbar-thumb:hover {
  background: map.get(vars.$colors, "scrollbar", "thumb-hover");
}
