<div class="main-container fadeInRight moderateSpeed">
  <app-header [title]="page_title" [class]="'home'"></app-header>

  <div class="row">
    <div class="col">
      <h3> ¡La página que buscas no existe! </h3>
    </div>
    <div class="row">
      <div class="col">
        <button type="button" class="btn btn-primary"
        routerLink="{{ relativePathHome }}" routerLinkActive="router-link-active">
          Ir a inicio <i class="fas fa-sign-in-alt"></i>
      </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <img class="m-5" id = "logo_almibar"
        src="https://www.pinclipart.com/picdir/big/121-1210042_viper-symbol-viper-snake-logo-png-clipart.png">
      </div>
    </div>
  </div>
</div>
