<div class="main-container">

  <!-- Header -->
  <app-header [title]="page_title" [class]="'main'"></app-header>

  <!-- Body -->
  <body class="content mt-5 fadeInRight moderateSpeed">
    <form autocomplete="off" [formGroup]="form" (ngSubmit)="login()">

      <div class="row">
        <div class="col">
          <img id="logo_almibar" src="{{pick_img}}">
          <h2>almibar</h2>
        </div>
      </div>

      <!-- Email  -->
      <div class="margin-20">
        <div class="row">
          <div class="col">
            <label>Correo Electrónico </label><br>
            <small *ngIf="emailNotValid" class="text-danger">
              Ingrese su correo electrónico
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input class="form-control" type="email"
              placeholder="Email" formControlName="email"
              [class.is-invalid]="emailNotValid">
          </div>
          <div class="col-1">
            <i class="far fa-envelope input-icon"></i>
          </div>
        </div>
      </div>

      <!-- Password -->
      <div class="margin-20">
        <div class="row">
          <div class="col">
            <label>Contraseña</label><br>
            <small *ngIf="passwordNotValid" class="text-danger">
              Ingrese su contraseña
            </small>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <input class="form-control" type="password"
              placeholder="Contraseña" formControlName="password"
              [class.is-invalid]="passwordNotValid">
          </div>
          <div class="col-1">
            <i class="fas fa-key input-icon"></i>
          </div>
        </div>
      </div>

      <!-- Log in -->
      <div class="margin-20">
        <div class="row">
          <div class="col">
            <button type="submit" id="submit_form_button_padding"
            class="btn btn-outline-primary btn-block col-4">
              Iniciar sesión
            </button>
          </div>
        </div>
      </div>
    </form>
    <!-- Slogan -->
    <div class="fadeInRight moderateSpeed margin-50">
      <h3 id="slogan">TENLO POR SEGURO</h3>
    </div>
    <button class="btn btn-success" routerLink="{{ mainR }}">
      <i class="fas fa-arrow-alt-circle-left"></i>
      Volver
    </button>
  </body>

  <!-- Footer -->
  <footer class="animated fadeIn moderateSpeed">
    <div class="login"></div>
  </footer>
</div>
