<div class="row">
  <div class="col">
    <app-navbar></app-navbar>
  </div>
</div>
<div class="row">
  <div class="side-menu-width padding-0">
    <app-side-menu></app-side-menu>
  </div>

  <div class="col padding-0">
    <router-outlet></router-outlet>
    <!-- Footer -->
    <footer class="animated fadeIn moderateSpeed">
      <div class="login"></div>
    </footer>
  </div>
</div>
